<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bivash | Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 

</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>



    

  <div class="container">
    <section id="about" class="slide">
      <h1>About Me</h1>
      <p>Hello! I'm Bivash, a passionate and curious learner from Jalpaiguri,West Bengal</p>
      <p>I'm currently in my first year of pursuing a diploma in Computer Science,</p>
      <p>and I've already begun laying the foundation for my journey in web development and programming.</p>
      <p>Since starting my coding journey, I've been focused on learning by doing—creating real-world projects that help me grow my skills.</p>
      <p>I'm especially interested in becoming a full-stack developer and love turning ideas into simple, usable applications.</p>
      <p>      </p>
      <p>      </p>
      <p>Outside of coding, I enjoy exploring new technologies and learning from the programming community online.</p>
      <p>I'm committed to improving every day and building a strong future in tech.</p>
    
    </section>

    <section id="skills" class="slide">
      <h1>Skills</h1>
      <ul>
        <li>HTML, CSS</li>
        <li>Python</li>
        <li>Flask</li>
        <li>Learning JavaScript</li>
      </ul>
    </section>

    <section id="projects" class="slide">
      <h1>Projects</h1>
      <p><strong>Personal Portfolio Website</strong> : responsive website built using HTML, CSS, and Flask to showcase my skills and background.</p>
      <p><strong>Simple Calculator</strong> : A web-based calculator built with Python and basic logic to perform arithmetic operations.</p>
      <p><strong>To-Do List App</strong> : A task management tool using Python and Flask where users can add, mark, and delete tasks.</p>
      <p><strong>Student Marksheet Generator</strong> : A Python script that takes input and generates a formatted marksheet</p>
    </section>

    <section id="contact" class="slide">
      <h1>Contact Me</h1>
      <p>Email: bivashgamer06@gmail.com</p>
    </section>
  </div>

  <section class="slide" id="about">thank you!!</section>


  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
